body
{
  overflow-y: scroll;
}
.service-selector h4
{
  padding: 10px;
  cursor: pointer;
}
.service-selector h4:hover
{
  background-color: #eeeeee;
}
.service-selector h4.active
{
  background-color: #00ffff;
}